.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: darkred;
  background-color: red;
  color: white;
}

.alert-info {
  border-color: orange;
  background-color: yellow;
  color: black;
}

.center {
  margin: auto;
  text-align: center;
}

span {
  font-weight: bold;
}
