{% extends 'base.html' %}
{% block title %}Rename Bulk{% endblock %}
{% block content %}
{% if info.files is defined %}
<form method="post" action="{{ url_for('renamer') }}">
  <div class="row header">
    {% for img in info.files -%}
    <div class="column center">
      <span>{{img}}</span>
    </div>
    {%- endfor %}
  </div>
  <div class="row images">
    {% for img in info.files -%}
    <div class="column center">
      <img src="{{ img }}" alt="{{img}}">
      <input type="hidden" name="imgs[]" value="{{img}}">
    </div>
    {%- endfor %}
  </div>
  <div class="center">
    <label for="new_name">New name</label>
    <input type="text" name="new_name" id="new_name" required autofocus>
    <input type="submit" value="Rename">
  </div>
</form>
{% endif %}
{% endblock %}
